
{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}
    <h1>Your Cart</h1>

    <table class="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
               
            </tr>
        </thead>
        <tbody>
            {% for productt in cart_items %}
                <tr>
                    <td>
                        
                            {{ productt.product.name }}<br>
                        
                    </td>
                    <td>{{ productt.quantity }}</td>
                    <td>${{ productt.product.price }}</td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Total Price: Taka:{{ total_price }}</p>
    
    <button href='{% url 'products:checkout' %}'>checkout</button>

    {% comment %} <a href="{% url 'checkout' %}" class="checkout-button">Proceed to Checkout</a> {% endcomment %}
{% endblock %}
