
{% extends 'base.html' %}


{% block content %}


		<!-- NAVIGATION -->
		
		<nav id="navigation">
			<div class="container">
				<div id="responsive-nav">
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Hot Deals</a></li>

							
						</li>

					</ul>
				</div>
			</div>
		</nav>
		

					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">

							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							
							
								{% for product in products %}
								<a href="{% url 'products:product_detail' product.id %}">
								<div class="col-md-4 col-xs-6 product-items ">
									<div class="product product-item" data-category="{{ product.category.id }}" data-name="{{ product.name }}">
										<div class="product-img">
											<img src="{{ product.image.url }}" alt="{{ product.name }}">
											<div class="product-label">
												{% if product.discount_percent %}
												<span class="sale">-{{ product.discount_percent }}%</span>
												{% endif %}
												{% if product.is_new %}
												<span class="new">NEW</span>
												{% endif %}
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">{{ product.category.name }}</p>
											<h3 class="product-name">{{ product.name }}</h3>
											<h4 class="product-price">
												{% if product.discount_price %}
												${{ product.discount_price|floatformat:2 }}
												<del class="product-old-price">${{ product.price|floatformat:2 }}</del>
												{% else %}
												${{ product.price|floatformat:2 }}
												{% endif %}
											</h4>
											{% comment %} <div class="product-rating">
												{% for _ in product.rating|default:0 %}
												<i class="fa fa-star"></i>
												{% endfor %}
											</div> {% endcomment %}
										</a>
											<div class="product-btns">
												<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
											</div>
										</div>
										<form method="POST" action="{% url 'products:add_to_cart' product.id %}">
											{% csrf_token %}
										<div class="add-to-cart">
											<button class="add-to-cart-btn" id="add-to-cart-button"><i class="fa fa-shopping-cart add-to-cart-btn"></i> Add to Cart</button>
										</div>
										</form>
										
										
									</div>
								</div>
								<!-- /product -->
								{% if forloop.counter|divisibleby:3 and not forloop.last %}
								<div class="clearfix visible-sm visible-xs"></div>
								{% endif %}
								
								{% endfor %}
							
						</div>
						
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								<li class="active">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->



{% endblock content %}


