

{% extends 'base.html' %}

{% block content %}


<div class="col-md-6">
    <div class="header-search">
        <form id="filterForm">
            <select id="categorySelect" class="input-select">
                <option value="0">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input class="input" id="searchInput" placeholder="Search here">
            <button class="search-btn" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="product-items">
    {% for product in products %}
    <div class="product-item" data-category="{{ product.category.id }}" data-name="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <!-- Add more details here -->
    </div>
    {% endfor %}
</div>




{% endblock content %}
 